on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ['ubuntu-latest'] #, 'macos-latest'] #, 'windows-latest']
        php-versions: ['7.4', '8.0', '8.1', '8.2', '8.3', '8.4', '8.5']
    steps:
    - name: Get source code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        coverage: none
        ini-values: post_max_size=256M, max_execution_time=180
    - run: sudo pear list
    - run: sudo pear channel-update pear.php.net
    - run: sudo pear upgrade --force pear/pear
    - run: sudo pear list
    - run: sudo pear install --force package.xml
    - run: sudo pear list
    - run: sudo pear package
    - run: sudo pear package-validate
    - run: sudo pear install --force *.tgz
    - run: sudo pear list
    - run: composer install
    - run: ./vendor/bin/phpunit tests
